<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link href="~/Content/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container" style="background-color: #808080;">
            <!-- Imagen de logo en lugar de Application Name -->
            <a class="navbar-brand" href="/">
                <img src="~/Content/Images/Cepdi.png" alt="Logo" style="max-height: 50px;" />
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Menú de navegación -->
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link text-morado" })</li>

                    <!-- Menú "Catálogos" con submenú -->
                    <li class="nav-item dropdown text-morado">
                        <a class="nav-link dropdown-toggle text-morado" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catálogos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuario", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Medicamentos", "Index", "Medicamentos", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Obtener PDF", "Index", "ObtenerPDF", new { area = "" }, new { @class = "nav-link text-morado" })</li>
                    <!-- Menú "Contacto" -->
                    <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link text-morado" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/JWT/ValidarToken.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script>
        $(document).ready(function () {
            validateToken();
        });
    </script>
</body>
</html>
